<a href="https://colab.research.google.com/github/2303a51510/DATAMINING/blob/main/ADM_ASSIGMNENT_1ipynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:

import pandas as pd

In [3]:

df = pd.read_csv('/content/employee_data.csv')
print("Original Dataset:")
print(df)

Original Dataset:
    Employee_ID   Age    Salary  Job_Satisfaction  Work_Hours_Per_Week
0          1001  50.0  108953.0               9.0                   36
1          1002  36.0   82995.0               8.0                   59
2          1003  29.0   70757.0               2.0                   30
3          1004  42.0   39692.0               1.0                   30
4          1005  40.0   75758.0               7.0                   54
5          1006  44.0  102409.0               7.0                   56
6          1007  32.0       NaN               NaN                   59
7          1008  32.0   95697.0               5.0                   54
8          1009  45.0   67065.0               3.0                   49
9          1010  57.0       NaN               8.0                   42
10         1011  45.0   41534.0               6.0                   38
11         1012   NaN   70397.0               NaN                   32
12         1013  43.0   31016.0               NaN                   36
13         1014  23.0  119789.0               1.0                   35
14         1015  45.0   85591.0               3.0                   37
15         1016  51.0  119812.0               5.0                   56
16         1017  59.0   53247.0               3.0                   38
17         1018  23.0   54300.0               1.0                   59
18         1019  42.0  104065.0               5.0                   34
19         1020  54.0  112798.0              10.0                   30
20         1021  33.0   39268.0               7.0                   48
21         1022  43.0  116807.0               7.0                   39
22         1023  46.0   42185.0               NaN                   41
23         1024  48.0   93704.0               9.0                   53
24         1025  49.0       NaN              10.0                   44
25         1026  37.0   69099.0               NaN                   56
26         1027  36.0       NaN               3.0                   51
27         1028  24.0   68044.0               7.0                   53
28         1029  58.0   81214.0               1.0                   38
29         1030  28.0   91228.0               4.0                   49
30         1031   NaN   78984.0               4.0                   46
31         1032  30.0   70774.0               NaN                   59
32         1033  39.0   32568.0               7.0                   46
33         1034  25.0   92592.0               7.0                   55
34         1035   NaN   97563.0               NaN                   49
35         1036  35.0   32695.0               4.0                   41
36         1037  30.0   78190.0               7.0                   59
37         1038  47.0   35258.0               NaN                   36
38         1039  23.0       NaN               3.0                   31
39         1040   NaN   69504.0               6.0                   32
40         1041  49.0   63159.0               2.0                   46
41         1042  28.0   43986.0              10.0                   34
42         1043  29.0   91858.0               9.0                   46
43         1044  56.0   42666.0               5.0                   53
44         1045  35.0   68660.0               6.0                   46
45         1046  38.0   33561.0               4.0                   56
46         1047  57.0   56854.0               NaN                   46
47         1048  25.0   94505.0               NaN                   31
48         1049  23.0   82251.0               7.0                   31
49         1050   NaN   52662.0               9.0                   57

In [4]:
df.isna()

    Employee_ID    Age  Salary  Job_Satisfaction  Work_Hours_Per_Week
0         False  False   False             False                False
1         False  False   False             False                False
2         False  False   False             False                False
3         False  False   False             False                False
4         False  False   False             False                False
5         False  False   False             False                False
6         False  False    True              True                False
7         False  False   False             False                False
8         False  False   False             False                False
9         False  False    True             False                False
10        False  False   False             False                False
11        False   True   False              True                False
12        False  False   False              True                False
13        False  False   False             False                False
14        False  False   False             False                False
15        False  False   False             False                False
16        False  False   False             False                False
17        False  False   False             False                False
18        False  False   False             False                False
19        False  False   False             False                False
20        False  False   False             False                False
21        False  False   False             False                False
22        False  False   False              True                False
23        False  False   False             False                False
24        False  False    True             False                False
25        False  False   False              True                False
26        False  False    True             False                False
27        False  False   False             False                False
28        False  False   False             False                False
29        False  False   False             False                False
30        False   True   False             False                False
31        False  False   False              True                False
32        False  False   False             False                False
33        False  False   False             False                False
34        False   True   False              True                False
35        False  False   False             False                False
36        False  False   False             False                False
37        False  False   False              True                False
38        False  False    True             False                False
39        False   True   False             False                False
40        False  False   False             False                False
41        False  False   False             False                False
42        False  False   False             False                False
43        False  False   False             False                False
44        False  False   False             False                False
45        False  False   False             False                False
46        False  False   False              True                False
47        False  False   False              True                False
48        False  False   False             False                False
49        False   True   False             False                False

In [5]:


df.isnull().sum()

Employee_ID             0
Age                     5
Salary                  5
Job_Satisfaction       10
Work_Hours_Per_Week     0
dtype: int64

In [7]:

df['Age'].mean()

39.17777777777778

In [9]:

df['Salary'].mean()

72349.2

In [10]:
df['Job_Satisfaction'].mean()

5.55

In [11]:


df['Job_Satisfaction'].mode()

0    7.0
Name: Job_Satisfaction, dtype: float64

In [12]:

df['Job_Satisfaction'].median()

6.0

In [15]:
df['Age'].fillna(df['Age'].mean())

0     50.000000
1     36.000000
2     29.000000
3     42.000000
4     40.000000
5     44.000000
6     32.000000
7     32.000000
8     45.000000
9     57.000000
10    45.000000
11    39.177778
12    43.000000
13    23.000000
14    45.000000
15    51.000000
16    59.000000
17    23.000000
18    42.000000
19    54.000000
20    33.000000
21    43.000000
22    46.000000
23    48.000000
24    49.000000
25    37.000000
26    36.000000
27    24.000000
28    58.000000
29    28.000000
30    39.177778
31    30.000000
32    39.000000
33    25.000000
34    39.177778
35    35.000000
36    30.000000
37    47.000000
38    23.000000
39    39.177778
40    49.000000
41    28.000000
42    29.000000
43    56.000000
44    35.000000
45    38.000000
46    57.000000
47    25.000000
48    23.000000
49    39.177778
Name: Age, dtype: float64

In [16]:
df['Age'] = df['Age'].fillna(df['Age'].mean())

In [17]:
df['Age'] = df['Age'].fillna(df['Age'].mean())

In [19]:
df['Age'] = df['Age'].fillna(df['Age'].mean())

In [20]:

df

    Employee_ID        Age    Salary  Job_Satisfaction  Work_Hours_Per_Week
0          1001  50.000000  108953.0               9.0                   36
1          1002  36.000000   82995.0               8.0                   59
2          1003  29.000000   70757.0               2.0                   30
3          1004  42.000000   39692.0               1.0                   30
4          1005  40.000000   75758.0               7.0                   54
5          1006  44.000000  102409.0               7.0                   56
6          1007  32.000000       NaN               NaN                   59
7          1008  32.000000   95697.0               5.0                   54
8          1009  45.000000   67065.0               3.0                   49
9          1010  57.000000       NaN               8.0                   42
10         1011  45.000000   41534.0               6.0                   38
11         1012  39.177778   70397.0               NaN                   32
12         1013  43.000000   31016.0               NaN                   36
13         1014  23.000000  119789.0               1.0                   35
14         1015  45.000000   85591.0               3.0                   37
15         1016  51.000000  119812.0               5.0                   56
16         1017  59.000000   53247.0               3.0                   38
17         1018  23.000000   54300.0               1.0                   59
18         1019  42.000000  104065.0               5.0                   34
19         1020  54.000000  112798.0              10.0                   30
20         1021  33.000000   39268.0               7.0                   48
21         1022  43.000000  116807.0               7.0                   39
22         1023  46.000000   42185.0               NaN                   41
23         1024  48.000000   93704.0               9.0                   53
24         1025  49.000000       NaN              10.0                   44
25         1026  37.000000   69099.0               NaN                   56
26         1027  36.000000       NaN               3.0                   51
27         1028  24.000000   68044.0               7.0                   53
28         1029  58.000000   81214.0               1.0                   38
29         1030  28.000000   91228.0               4.0                   49
30         1031  39.177778   78984.0               4.0                   46
31         1032  30.000000   70774.0               NaN                   59
32         1033  39.000000   32568.0               7.0                   46
33         1034  25.000000   92592.0               7.0                   55
34         1035  39.177778   97563.0               NaN                   49
35         1036  35.000000   32695.0               4.0                   41
36         1037  30.000000   78190.0               7.0                   59
37         1038  47.000000   35258.0               NaN                   36
38         1039  23.000000       NaN               3.0                   31
39         1040  39.177778   69504.0               6.0                   32
40         1041  49.000000   63159.0               2.0                   46
41         1042  28.000000   43986.0              10.0                   34
42         1043  29.000000   91858.0               9.0                   46
43         1044  56.000000   42666.0               5.0                   53
44         1045  35.000000   68660.0               6.0                   46
45         1046  38.000000   33561.0               4.0                   56
46         1047  57.000000   56854.0               NaN                   46
47         1048  25.000000   94505.0               NaN                   31
48         1049  23.000000   82251.0               7.0                   31
49         1050  39.177778   52662.0               9.0                   57

In [23]:

df['Work_Hours_Per_Week'].fillna(df['Work_Hours_Per_Week'].mean())

0     36
1     59
2     30
3     30
4     54
5     56
6     59
7     54
8     49
9     42
10    38
11    32
12    36
13    35
14    37
15    56
16    38
17    59
18    34
19    30
20    48
21    39
22    41
23    53
24    44
25    56
26    51
27    53
28    38
29    49
30    46
31    59
32    46
33    55
34    49
35    41
36    59
37    36
38    31
39    32
40    46
41    34
42    46
43    53
44    46
45    56
46    46
47    31
48    31
49    57
Name: Work_Hours_Per_Week, dtype: int64

In [24]:

print("Dataset after handling missing values:")
print(df)

Dataset after handling missing values:
    Employee_ID        Age    Salary  Job_Satisfaction  Work_Hours_Per_Week
0          1001  50.000000  108953.0               9.0                   36
1          1002  36.000000   82995.0               8.0                   59
2          1003  29.000000   70757.0               2.0                   30
3          1004  42.000000   39692.0               1.0                   30
4          1005  40.000000   75758.0               7.0                   54
5          1006  44.000000  102409.0               7.0                   56
6          1007  32.000000       NaN               NaN                   59
7          1008  32.000000   95697.0               5.0                   54
8          1009  45.000000   67065.0               3.0                   49
9          1010  57.000000       NaN               8.0                   42
10         1011  45.000000   41534.0               6.0                   38
11         1012  39.177778   70397.0               NaN                   32
12         1013  43.000000   31016.0               NaN                   36
13         1014  23.000000  119789.0               1.0                   35
14         1015  45.000000   85591.0               3.0                   37
15         1016  51.000000  119812.0               5.0                   56
16         1017  59.000000   53247.0               3.0                   38
17         1018  23.000000   54300.0               1.0                   59
18         1019  42.000000  104065.0               5.0                   34
19         1020  54.000000  112798.0              10.0                   30
20         1021  33.000000   39268.0               7.0                   48
21         1022  43.000000  116807.0               7.0                   39
22         1023  46.000000   42185.0               NaN                   41
23         1024  48.000000   93704.0               9.0                   53
24         1025  49.000000       NaN              10.0                   44
25         1026  37.000000   69099.0               NaN                   56
26         1027  36.000000       NaN               3.0                   51
27         1028  24.000000   68044.0               7.0                   53
28         1029  58.000000   81214.0               1.0                   38
29         1030  28.000000   91228.0               4.0                   49
30         1031  39.177778   78984.0               4.0                   46
31         1032  30.000000   70774.0               NaN                   59
32         1033  39.000000   32568.0               7.0                   46
33         1034  25.000000   92592.0               7.0                   55
34         1035  39.177778   97563.0               NaN                   49
35         1036  35.000000   32695.0               4.0                   41
36         1037  30.000000   78190.0               7.0                   59
37         1038  47.000000   35258.0               NaN                   36
38         1039  23.000000       NaN               3.0                   31
39         1040  39.177778   69504.0               6.0                   32
40         1041  49.000000   63159.0               2.0                   46
41         1042  28.000000   43986.0              10.0                   34
42         1043  29.000000   91858.0               9.0                   46
43         1044  56.000000   42666.0               5.0                   53
44         1045  35.000000   68660.0               6.0                   46
45         1046  38.000000   33561.0               4.0                   56
46         1047  57.000000   56854.0               NaN                   46
47         1048  25.000000   94505.0               NaN                   31
48         1049  23.000000   82251.0               7.0                   31
49         1050  39.177778   52662.0               9.0                   57

In [25]:

from sklearn.preprocessing import MinMaxScaler

In [26]:

scaler = MinMaxScaler()

In [27]:

df[['Work_Hours_Per_Week', 'Age']] = scaler.fit_transform(df[['Work_Hours_Per_Week', 'Age']])

In [28]:

df['Age'] = (df['Age'] - df['Age'].min()) / (df['Age'].max() - df['Age'].min())

In [29]:

from sklearn.preprocessing import StandardScaler

s_scaler = StandardScaler()

In [35]:


df[['Work_Hours_Per_Week']] = s_scaler.fit_transform(df[[ 'Work_Hours_Per_Week']])

In [36]:

df['Work_Hours_Per_Week']

0    -0.905969
1     1.483629
2    -1.529343
3    -1.529343
4     0.964151
5     1.171942
6     1.483629
7     0.964151
8     0.444673
9    -0.282596
10   -0.698178
11   -1.321551
12   -0.905969
13   -1.009865
14   -0.802074
15    1.171942
16   -0.698178
17    1.483629
18   -1.113760
19   -1.529343
20    0.340777
21   -0.594283
22   -0.386491
23    0.860255
24   -0.074805
25    1.171942
26    0.652464
27    0.860255
28   -0.698178
29    0.444673
30    0.132986
31    1.483629
32    0.132986
33    1.068046
34    0.444673
35   -0.386491
36    1.483629
37   -0.905969
38   -1.425447
39   -1.321551
40    0.132986
41   -1.113760
42    0.132986
43    0.860255
44    0.132986
45    1.171942
46    0.132986
47   -1.425447
48   -1.425447
49    1.275837
Name: Work_Hours_Per_Week, dtype: float64

In [37]:
df[''] = (df['Job_Satisfaction'] - df['Job_Satisfaction'].mean()) / df['Job_Satisfaction'].std()

In [38]:
df

,Employee_ID,Age,Salary,Job_Satisfaction,Work_Hours_Per_Week,
0,1001,0.750000,108953.0,9.0,-0.905969,1.265398
1,1002,0.361111,82995.0,8.0,1.483629,0.898616
2,1003,0.166667,70757.0,2.0,-1.529343,-1.302077
3,1004,0.527778,39692.0,1.0,-1.529343,-1.668859
4,1005,0.472222,75758.0,7.0,0.964151,0.531834
5,1006,0.583333,102409.0,7.0,1.171942,0.531834
6,1007,0.250000,NaN,NaN,1.483629,NaN
7,1008,0.250000,95697.0,5.0,0.964151,-0.201730
8,1009,0.611111,67065.0,3.0,0.444673,-0.935294
9,1010,0.944444,NaN,8.0,-0.282596,0.898616
10,1011,0.611111,41534.0,6.0,-0.698178,0.165052
11,1012,0.449383,70397.0,NaN,-1.321551,NaN
12,1013,0.555556,31016.0,NaN,-0.905969,NaN
13,1014,0.000000,119789.0,1.0,-1.009865,-1.668859
14,1015,0.611111,85591.0,3.0,-0.802074,-0.935294
15,1016,0.777778,119812.0,5.0,1.171942,-0.201730
16,1017,1.000000,53247.0,3.0,-0.698178,-0.935294
17,1018,0.000000,54300.0,1.0,1.483629,-1.668859
18,1019,0.527778,104065.0,5.0,-1.113760,-0.201730
19,1020,0.861111,112798.0,10.0,-1.529343,1.632181
20,1021,0.277778,39268.0,7.0,0.340777,0.531834
21,1022,0.555556,116807.0,7.0,-0.594283,0.531834
22,1023,0.638889,42185.0,NaN,-0.386491,NaN
23,1024,0.694444,93704.0,9.0,0.860255,1.265398
24,1025,0.722222,NaN,10.0,-0.074805,1.632181
25,1026,0.388889,69099.0,NaN,1.171942,NaN
26,1027,0.361111,NaN,3.0,0.652464,-0.935294
27,1028,0.027778,68044.0,7.0,0.860255,0.531834
28,1029,0.972222,81214.0,1.0,-0.698178,-1.668859
29,1030,0.138889,91228.0,4.0,0.444673,-0.568512
30,1031,0.449383,78984.0,4.0,0.132986,-0.568512
31,1032,0.194444,70774.0,NaN,1.483629,NaN
32,1033,0.444444,32568.0,7.0,0.132986,0.531834
33,1034,0.055556,92592.0,7.0,1.068046,0.531834
34,1035,0.449383,97563.0,NaN,0.444673,NaN
35,1036,0.333333,32695.0,4.0,-0.386491,-0.568512
36,1037,0.194444,78190.0,7.0,1.483629,0.531834
37,1038,0.666667,35258.0,NaN,-0.905969,NaN
38,1039,0.000000,NaN,3.0,-1.425447,-0.935294
39,1040,0.449383,69504.0,6.0,-1.321551,0.165052
40,1041,0.722222,63159.0,2.0,0.132986,-1.302077
41,1042,0.138889,43986.0,10.0,-1.113760,1.632181
42,1043,0.166667,91858.0,9.0,0.132986,1.265398
43,1044,0.916667,42666.0,5.0,0.860255,-0.201730
44,1045,0.333333,68660.0,6.0,0.132986,0.165052
45,1046,0.416667,33561.0,4.0,1.171942,-0.568512
46,1047,0.944444,56854.0,NaN,0.132986,NaN
47,1048,0.055556,94505.0,NaN,-1.425447,NaN
48,1049,0.000000,82251.0,7.0,-1.425447,0.531834
49,1050,0.449383,52662.0,9.0,1.275837,1.265398